@{
    ViewData["Title"] = "About";
}
@*<h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>*@

<h2>E-commerce-app</h2>
<h3>Best retail of after-leasing electronics</h3>

<p>We offer the best refurbished electronics in city. In our offer you can find laptops, computers, monitors, smartphones and many more. Check out our offer and buy what you need.</p>
