@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@
<h3>Our locations</h3>
<h4>Main shop</h4>
<address>
    Florianska 39<br />
    31-091, Krakow<br />
    <abbr title="Phone">Phone: </abbr>
    999888111
</address>

<h4>Warehouse - order pick up only</h4>
<address>
    Centralna 13<br />
    31-586, Krakow<br />
    <abbr title="Phone">Phone: </abbr>
    666999333
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@e-commerce-app.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@e-commerce-app.com</a>
</address>
