@*@model E_commerce_app.Data.Models.Product*@
@model E_commerce_app.Dtos.ProductCreateDto
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <label asp-for="Categories" class="control-label"></label>
                <select asp-for="Categories" id="Categories" name="Categories" multiple>
                    @foreach (var item in Model.Categories)
                    {
                        @if (Model.SelectedCategories.Any(a=>a.Id == item.Id))
                        {
                            <option value=@item.Id selected>@item.Name</option>
                        }
                        else
                        {
                            <option value=@item.Id>@item.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="Name" class="text-danger"></span>
                <span asp-validation-for="Description" class="text-danger"></span>
                <span asp-validation-for="Price" class="text-danger"></span>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}